.card {
  padding: 10px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: 1px solid white;

  &__name {
    margin-top: 10px;
    text-align: center;
    color: white;
  }
}
