.card {
  color: white;
  padding: 25px;
  width: fit-content;
  &__img {
    width: 200px;
    height: auto;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }

  &__name {
    font-size: 25px;
  }
}
