.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 10px;

  &__pageLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    color: black;
    background-color: grey;

    &:hover {
      background-color: white;
      opacity: 0.5;
    }
  }

  &__btn {
    padding: 24px 30px;
    font-size: 15px;
    border-radius: 25px;
    background-color: #02afc5;

    &:hover {
      background-color: #088898;
      color: white;
    }
  }

  &__active {
    background-color: #08c952;
    color: white;

    &:hover {
      background-color: lightgreen;
    }
  }

  &__disabled {
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
  }
}
